<link rel="stylesheet" type='text/css' href="./css/style.css">

<div class='maincontainer'>
                        <div class='box1'>
                                <div class='cont'>

                                      <div class='statbox'><p class='stat'>{{tickets}}</p></div>
                                        <div class='lable'>
                                                <p>Tickets Created</p>
                                        </div>
                                </div>
                        </div>

                        <div class='box2'>
                                <div class='cont'>
                                        <div class='statbox'><p class='stat'>{{solved}}</p></div>
                                        <div class='lable'>
                                                <p>Ticket Solved</p>
                                        </div>
                                </div>
                        </div>

                        <div class='box3'>
                                <div class='cont'>
                                        <div class='statbox'><p class='stat'>{{firstResponse}}(min)</p></div>
                                        <div class='lable'>
                                                <p>Average First Response</p>
                                        </div>
                                </div>
                        </div>

                        <div class='box4'>
                                <div class='cont'>
                                        <div class='statbox'><p class='stat'>{{resolution}}(hr)</p></div>
                                        <div class='lable'>
                                                <p>Average Resolution Time</p>
                                        </div>
                                </div>
                        </div>

                        <div class='box5'>
                                <div class='cont'>
                                        <div class='statbox'><p class='stat'>{{satisfactionScore}}%</p></div>
                                        <div class='lable'>
                                                <p>Customer Satisfaction</p>
                                        </div>
                                </div>
                        </div>



                        <div class='box6'>
                                <div class='cont'>
                                        <div class='statbox'><p class='stat'>{{satResponse}}%</p></div>
                                        <div class='lable'>
                                                <p>Satisfaction Response</p>
                                        </div>
                                </div>
                        </div>

                        <div class='box7'>
                                <div class='cont'>
                                        <div class='statbox'><p class='stat'>{{slaNum}}</p></div>
                                        <div class='lable'>
                                                <p>#SLA Violations</p>
                                        </div>
                                </div>
                        </div>

                        <div class='box8'>
                                <div class='cont'>
                                        <div class='statbox'><p class='stat'>{{slaPer}}%</p></div>
                                        <div class='lable'>
                                                <p>%SLA Violations</p>
                                        </div>
                                </div>
                        </div>
                </div>
